backend:
  name: github
  repo: ticketbutler/homepage
    
media_folder: static/img
public_folder: img

collections:
  - name: top-menu
    label: Top Menu
    folder: content/top-menu
    create: true
    fields:
      - { name: title, label: Title }
      - { name: path, label: Path }
      - name: items
        label: Items
        widget: list
        fields:
          - { name: label, label: Label }
          - { name: path, label: Path }
          
  - name: footer-menu
    label: Footer Menu
    folder: content/footer-menu
    create: true
    fields:
      - { name: title, label: Title }
      - { name: path, label: Path }
      - name: items
        label: Items
        widget: list
        fields:
          - { name: label, label: Label }
          - { name: path, label: Path }

  - name: contact
    label: Contact
    folder: content/contact
    create: true
    fields:
      - { name: title, label: Title }
      - { name: path, label: Path }
      - name: items
        label: Items
        widget: list
        fields:
          - { name: adress, label: Adress }
          - { name: phone, label: phone Number }
          - { name: support, label: General Support }
          
        
  - name: pages
    label: Pages
    folder: content/pages
    create: true
    fields:
      - { name: path, label: Path }
      - { name: title, label: Title }
      - { name: meta_description, label: Meta Description, required: false }
      - name: sections
        label: Sections
        widget: list
        fields:
          - name: type
            label: Type
            widget: select
            options:        
              - { label: Header, value: header }
              - { label: Image right, value: future_image_right }
              - { label: Image left, value: uture_image_left }
              - { label: Centerd Image Tall, value: tall_centered_future }
              - { label: Image Right Second Style, value: future_image_right_second }
              - { label: Layer Image, value: future_layers }
              - { label: Contact Page, value: contact }

          - { name: heading, label: Heading, required: false }
          - { name: text, label: Text, required: false }
          - { name: image, label: Image, widget: image, required: false }
          - { name: button_text, label: Button Text, required: false }
          - { name: button_link, label: Button Link, required: false }

                    

          
          