backend:
  name: github
  repo: ticketbutler/homepage
    
media_folder: static/img
public_folder: img

collections:
  # *************************
  #  Navbar Section 
  # ************************
  - name: top-menu
    label: Top Menu
    folder: content/top-menu
    create: true
    fields:
      - { name: title, label: Title }
      - { name: path, label: Path }
      - name: items
        label: Items
        widget: list
        fields:
          - { name: label, label: Label }
          - { name: path, label: Path }
  
          


  # *************************
  #  Footer
  # ************************
  - name: footer-menu
    label: Footer Menu
    folder: content/footer-menu
    create: true
    fields:
      - { name: title, label: Title }
      - { name: path, label: Path }
      - name: items
        label: Items
        widget: list
        fields:
          - { name: label, label: Label }
          - { name: path, label: Path }
          
      - name: features
        label: Features
        widget: list
        fields:
          - { name: label, label: Label }
          - { name: path, label: Path }

      - name: integration
        label: Integration
        widget: list
        fields:
          - { name: label, label: Label }
          - { name: path, label: Path }

      - name: company
        label: Company
        widget: list
        fields:
          - { name: label, label: Label }
          - { name: path, label: Path }




  # *************************
  #  Content Section 
  # ************************

  - name: contact
    label: Contact
    folder: content/contact
    create: true
    fields:
      - { name: title, label: Title, required: false }
      - { name: path, label: Path, required: false }
      - { name: address, label: Address, required: false }
      - { name: phone, label: phone Number, required: false }
      - { name: support, label: General Support, required: false }
  
      


  # *************************
  #  All secion
  # ************************

  - name: pages
    label: Pages
    folder: content/pages
    create: true
    fields:
      - { name: path, label: Path }
      - { name: title, label: Title }
      - { name: meta_description, label: Meta Description, required: false }
      - name: sections
        label: Sections
        widget: list
        fields:
          - name: type
            label: Type
            widget: select
            options:        
              - { label: Header, value: header }
              - { label: Image right, value: future_image_right }
              - { label: Image left, value: future_image_left }
              - { label: Centerd Image Tall, value: tall_centered_future }
              - { label: Centerd Image Tall Button Top, value: tall_centered_future_button_top}
              - { label: Image Right Second Style, value: future_image_right_second }
              - { label: Image Right New, value: future_image_right_new }
              - { label: Layer Image, value: future_layers }
              - { label: Logo Section, value: integrations_section }

          

          - { name: heading, label: Heading, required: false }
          - { name: text, label: Text, required: false }
          - { name: image, label: Image, widget: image, required: false }
          - { name: image_alt, label: Image Alt, required: false }
          - { name: button_text, label: Button Text, required: false }
          - { name: button_link, label: Button Link, required: false }
          
      - name: logo_section
        label: LogoSection
        widget: list
        fields:
          - { name: heading, label: Heading } 
          - name: items
            label: Items
            widget: list
            fields:
              - { name: image, label: Image, widget: image, required: false } 
              - { name: alt, label: Alt, required: false } 

              
      - name: testimonials
        label: Testimonials
        widget: list
        fields:
          - name: items
            label: Items
            widget: list
            fields:
            - { name: image, label: Image, widget: image, required: false } 
            - { name: text, label: Text, required: false } 
            - { name: about, label: About, required: false } 
            - { name: logo, label: Logo, widget: image, required: false } 

