backend:
  name: github
  repo: ticketbutler/homepage
    
media_folder: static/img
public_folder: img

collections:
  - name: nav-items
    label: Navigation Items
    folder: nav-items
    create: true
    filter: {field: type, value: nav}
    fields:
      - { name: title, label: Title }
      - { name: path, label: Path }

  - name: footer-items
    label: Footer Items
    folder: footer-items
    create: true
    filter: {field: type, value: footer}
    fields:
      - { name: title, label: Title }
      - { name: path, label: Path }

  - name: pages
    label: Pages
    folder: pages
    create: true
    filter: {field: type, value: pages}
    fields:
      - { name: path, label: Path }
      - { name: title, label: Title }
      - { name: meta_description, label: Meta Description, required: false }
      - name: sections
        label: Sections
        widget: list
        fields:
          - name: type
            label: Type
            widget: select
            options:        
              - { label: Header, value: header }
              - { label: Image right, value: future_image_right }
              - { label: Image left, value: uture_image_left }
              - { label: Centerd Image Tall, value: tall_centered_future }
              - { label: Image Right Second Style, value: future_image_right_second }
              - { label: Layer Image, value: future_layers }
              - { label: Contact Page, value: contact }
                    

          
          