@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  src: url("/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Hind";
  font-weight: 200;
  src: url("/fonts/Hind-Light.ttf");
}

@font-face {
  font-family: "Hind";
  font-weight: 400;
  src: url("/fonts/Hind-Regular.ttf");
}

@font-face {
  font-family: "Hind";
  font-weight: 500;
  src: url("/fonts/Hind-Medium.ttf");
}

@font-face {
  font-family: "Hind";
  font-weight: 600;
  src: url("/fonts/Hind-Bold.ttf");
}

html,
body {
  font-family: Montserrat;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
